@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
  font-family: "Quicksand", sans-serif;
  padding-top: 80px;
}
/* Seccion my profile*/ 
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
 
/* Estilos generales para las secciones */
.jumbotron,
.card-body,
.container,
.site-header {
  font-family: "Quicksand", sans-serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  user-select: none;
}

.lead {
  font-family: 'Quicksand', serif;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* Jumbotron con fondo e imagen de portada */
.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

/* Cambios de color para la barra de navegación */
.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

/* Estilos de carga */
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Formulario de inicio de sesión */
.form-login { /*estilo para formulario login*/
  background-color:#A0D9CE;
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 1.125rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  box-shadow: 10px 10px 10px #F2F2F2;
  }
  
  .form-login input{ /*estilo para input login*/
    width: 90%;
    height: 30px;
    margin: .9rem
  }
  
  .form-login button{ /*estilo para boton ingresar en login*/
    padding: 1em 1em;
    border: none;
    border-radius: 20px;
    background: #5A56BF;
    cursor: pointer;
    color:#F2F2F2;
  }
  
  .img-login { /*estilo imagen titulo login*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }



/* Modo oscuro */
.darkmode {
  background-color: #1e1e1e;
  color: #b6afaf;
} 

/* Estilos del interruptor de tema */
#theme-switch {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: #5a9589;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 20px;
}

#theme-switch i {
  fill: #38373C;
}

#theme-switch i:last-child {
  display: none;
}

.darkmode #theme-switch i:first-child {
  display: none;
}

.darkmode #theme-switch i:last-child {
  display: block;
}

/* Aplicación del modo oscuro a encabezados y párrafos */
.darkmode h1,
.darkmode h2,
.darkmode h3,
.darkmode p {
  color: #b6afaf;
}

/* Cambia los enlaces en modo oscuro */
.darkmode a {
  color: #5a9589;
}

/* Cambia el estilo de los botones en modo oscuro */
.darkmode button {
  background-color: #2a5950;
  color: #b6afaf;
}

/* Navbar y footer en modo oscuro */
.darkmode .navbar,
.darkmode .footer {
  background-color: #1e1e1e;
  color: #b6afaf;
}

/* Navbar fija, evita que se mueva */
.navbar {
  position: fixed;
  top: 0;
  left: 0; 
  right: 0; 
  width: 100vw; 
  z-index: 9999; /* Se asegura de que esté por encima de otros elementos */
  padding: 1rem 20px; 
  transition: background-color 0.3s ease, color 0.3s ease; 
}

/* Evitar desajustes entre modos */
.darkmode body {
  padding-top: 80px;
}

